*{margin:0;}
/*Barra de navegación*/
.nav{
	width: 100%;
	background-color: #4D7373;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px 10px;
	color:white;
	box-sizing: border-box;
}
.foo{
	width: 100%;
	background-color: #4D7373;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px 10px;
	color:white;
	box-sizing: border-box;
}
.tit{
	letter-spacing: 5px;
	font-size: 1.5em;
	color: white;
	margin: 0;
}
.subtit{
	text-align: center;
}

.listanav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;
}

.ligas{
	list-style: none;
	padding: 5px 10px;
}

.ligas a{
		color: white;
		transition-duration: .5s;
}
.ligas a:hover{
		color: #C42633;
}
/*Termina barra*/

.login{
	width: 100%;
	height:100vh;
}

.login button{
	width: 70%;
	height: 250px;
	background-color: transparent;
	border: 5px solid #2b4040;
	color: black;
	font-weight: bold;
	font-size: 1em;
}
/*Comienza contenido*/

.contenedor{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.Datos{
  width: 100%;
  background-color: #4D7373;

}
.user{
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  padding: 10px;
  align-items: center;
}
.imgU{
	width: 50px;
	height: 50px;
	border-radius: 100%;
}
.nombreU{
  color: white;
  letter-spacing: 2px;
  padding: 0 10px;
}
.estadoU{
  color: white;
  padding: 0 10px 0 0;
}
.botonS{
	border: 3px solid #3f5d5d;
	color: white;
	background-color: #4D7373;
	margin:0 10px;
}
/*Agregar una Tarea*/
.contenidoA{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 20px 0;
}
.contenidoAS{
	display: none;
}
.botonA{
	position: relative;
  width: 45px;
  height: 45px;
  background-color: #F21D44;
  box-shadow: 0 3px 2px grey;
  border: 0 none;
  border-radius: 100%;
  color: white;
  transform: translateY(-50%);
  right: -35%;
  transition: all .4s cubic-bezier(0.13, -0.18, 0.58, 1);
}
.botonAS{
	position: fixed;
  width: 45px;
  height: 45px;
  background-color: #F21D44;
  box-shadow: 0 3px 2px grey;
  border: 0 none;
  border-radius: 100%;
  color: white;
  right: 9%;
  bottom: 3%;
  transition: all .4s cubic-bezier(0.13, -0.18, 0.58, 1);
}
.agreTar{
	width: 200px;
  margin: auto auto;
  min-height: 200px;
  background-color: #f5f4f4;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 10px #aeaeae;
}
.titText{
	width: 90%;
	height: 24px;
	border:0 none transparent;
	border-bottom: 2px solid gray;
	background-color: transparent;
	text-align: center;
	font-size: 1.1em;
	overflow: auto;
	margin:0 5% 5px 5%;
}
.contText{
	width: 90%;
	height: 174px;
	margin: 0 5%;
	border:0 none transparent;
	border-bottom: 2px solid gray;
	background-color: transparent;
	text-align: center;
	font-size: 1em;
	overflow: auto;
}
.DagreTB{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 0 5px 0;
}
.agreTB{
  width: 40px;
  height: 40px;
  background-color: #F21D44;
  box-shadow: 0 3px 2px grey;
  border: 0 none;
  border-radius: 100%;
  color: white;
  transition: all .4s cubic-bezier(0.13, -0.18, 0.58, 1);
}


/*Termina agregar Tarea*/
.contenido{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 20px 0;
}

.item{
	  width: 200px;
    display: flex;
    background-color: #f5f4f4;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px auto 0;
    /* min-height: 200px; */
    /* border: .5px solid gray; */
    /* border-radius: 10px; */
    box-shadow: 0 3px 10px grey;
    box-sizing: border-box;
    overflow: hidden;
}
.itemven{
	background-color: red;
  width: 200px;
  display: flex;
  background-color: rgba(242, 29, 68, 0.46);
  flex-direction: column;
  justify-content: space-around;
  margin: 20px auto 0;
  /* min-height: 200px; */
  /* border: .5px solid gray; */
  /* border-radius: 10px; */
  box-shadow: 0 3px 10px grey;
  box-sizing: border-box;
  overflow: hidden;
}
.botones{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 0 5px 0;
}
.bBotonA{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #F21D44;
  border: 0 none;
  /* height: 24px; */
  color: white;
  box-shadow: 0 3px 2px grey;
	transition: all .4s cubic-bezier(0.13, -0.18, 0.58, 1);
}
.bBotonB{
  background-color: #36788A;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 0 none;
  /* height: 24px; */
  color: white;
  box-shadow: 0 3px 2px grey;
	transition: all .4s cubic-bezier(0.13, -0.18, 0.58, 1);
}
/*accion de los botones*/
.agreTB:active, .bBotonA:active, .bBotonB:active, .botonAS:active{
	box-shadow: none;
  transform: scale(.9,.9);
}
.botonA:active{
	box-shadow: none;
  transform: scale(.9,.9) translateY(-50%);
}
.agreTB:focus, .bBotonA:focus, .bBotonB:focus, .bBotonB:focus, .botonA:focus, .botonAS:focus{
	outline: none;
}
/*accion de los botones termina*/
.titulo{
	  text-align: center;
    border-bottom: 2px solid gray;
    width: 90%;
    margin: 5px auto;
}
.texto{
	margin: 0;
  max-width: 100%;
  max-height: 154px;
  text-align: justify;
  padding: 2px 5px;
  overflow-wrap: break-word;
  overflow-y: auto;
  font-size: 1.2em;
  box-sizing: border-box;

}
.fecha{
	color: #C42633;	
	text-align: center;
	margin: 5px 0;
}
.fecha h5{
	margin: auto;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
	background-color: gray;
}