*{margin:0;}
._2zg6fAh8EPRkOytZ1k0V9r{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px 10px;
	box-sizing: border-box;
}
._1tJBm1Pmt7zcfh0CG3_hlT{
	letter-spacing: 5px;
	font-size: 1.5em;
	color: black;
}
._2W4gaNHQbfyQd4oOeC_Ky9{
	text-align: center;
}

._3xXWJBUPszP8_fSft2nPk6{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

._2vf4uRtWJDL32lQlQk2HCf{
	list-style: none;
	padding: 5px 10px;
}

._2vf4uRtWJDL32lQlQk2HCf a{
		color: black;
}

._1tvgKAgBgO4bLqj6CQgQw-{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
._2ZLQhm-ig7Nyp7K9CqP72j{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
._2ZLQhm-ig7Nyp7K9CqP72j textarea{
	width: 100%;
	height: 174px;
	border:0 none transparent;
	background-color: transparent;
	text-align: justify-center;
	font-size: 1.2em;
}
.M83g5at6d_aOJMI2MAzb2{
	width: 200px;
	margin: auto auto;
	min-height: 200px;
	border: 1px solid black;
	border-radius: 10px;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}
.M83g5at6d_aOJMI2MAzb2 button{
	width: 100%;
}
.mTlFJ8naw1hy-3v7btO9C{
	margin: 0;
  max-width: 100%;
  max-height: 154px;
  text-align: justify;
  padding: 2px 5px;
  transform: translateY(-50%);
  position: absolute;
  top: 51.5%;
  overflow-wrap: break-word;
  overflow-y: auto;
  font-size: 1.2em;
}
._2mJCjYXai3fZKp6dqsZ5gP{
	position: absolute;
	bottom: 0;
	transform: translate(-50%);
	left: 50%;	
}
._2mJCjYXai3fZKp6dqsZ5gP h5{
	margin: 0;
}